{% extends 'back/master.html' %}
{% load static %}
{%block head%}<title>Delete |fsbmAdmin</title>{% endblock%}
{%block container%}
<br>
<div class="row">
    <div class="col-12">
        <div class="callout callout-danger">
			<h2>Are you sure you want to delete {{item.purname}} ({{item.filier}}) ?</h2>
			<form action="{% url 'delete_Semmester' item.id  %}" method="POST">
				
				{% csrf_token %}
				<a class="btn btn-warning" href="{% url 'semmester' filierID %}">Cancel</a>

				<input class="btn btn-danger" type="submit" name="Confirm">
			</form>
        </div>
    </div>
    <!-- /.col -->
</div>



{%endblock%}