{% extends 'back/master.html' %}
{% load static %}
{%block head%}<title>Delete |fsbmAdmin</title>{% endblock%}
{%block container%}
<br>
<div class="row">
    <div class="col-12">
        <div class="callout callout-danger">
            <h5><i class="fas fa-check"></i> Are you sure you want to delete "{{item}}"?</h5>
			<h6>
				<small>ID : {{item.pk}}</small><br>
				{% if item.module%}<small>Module : {{item.module}}</small><br>{% endif%}
				{% if item.semmester%}<small>Semmester : {{item.semmester}}</small><br>{% endif%}
			</h6>
			<form action="{% url 'coureDel' item.id  %}" method="POST">
				{% csrf_token %}
				<a class="btn btn-warning" href="{% url 'coureList' %}">Cancel</a>
				<button class="btn btn-danger" type="submit" name="Confirm">Conform</button>
			</form>
        </div>
    </div>
    <!-- /.col -->
</div>
{%endblock%}