{% extends 'back/master.html' %}
{% load static %}
{%block head%}<title>Add Parcoure |fsbmAdmin</title>{% endblock%}
{%block container%}
<div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Add Parcoure</h3>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
          <form action="{% url 'parcoureAdd'%}" method="post" enctype="multipart/form-data" >
            {% csrf_token %}
            <div class="form-group">
              <label for="inputName">Module Name</label>
              {{form.name}}            
            </div>
            <div class="form-group">
              <label for="inputSemmesterId">Filier</label>
              {{form.filier}}
            </div>
            <div class="form-group">
              <label for="inputSemmesterId">Semmester</label>
              {{form.semmester}}
            </div>
           <button class="btn btn-success " type="submit">Cree</button>
          </form>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
    </div>
    <!-- /.col -->
  </div>
{%endblock%}
{%block script%}

{%endblock%}