{% extends 'back/master.html' %}
{% load static %}
{%block head%}<title> Parcoure list| fsbmAdmin</title>{% endblock%}
{%block container%}
<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Parcoure List</h3>
        <div class="card-tools text-right">
          <button type="button" class="btn btn-warning btn-sm" >
            <a href="/Panel/parcoure:add/"><i class="fas fa-plus"></i> Add</a>
          </button>
        </div>
      </div>
      <!-- /.card-header -->
      <div class="card-body">
        <table id="example1" class="table table-bordered table-striped">
          <thead>
          <tr>
            <th>name</th>
            <th>Semmester</th>
            <th>Action</th>
          </tr>
          </thead>
          <tbody>
         {% for f in Parcoure %}
          <tr>
           
            <td class="text-center">{{f.nameUrl}}</td>
            <td class="text-center">{{f.filier}} |{{f.semmester}}</td>
            <td class="project-actions text-center ">
             
              <a class="btn btn-danger btn-sm" href="{% url 'parcoureDel' f.id%}">
                  <i class="fas fa-trash">
                  </i>
              </a>
             
          </td>
          </tr>
          {% endfor %}
          </tbody>
         
        </table>
      </div>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->
  </div>
  <!-- /.col -->
</div>


{%endblock%}
{%block script%}

{%endblock%}



<tfoot>
  <tr>
    <th>Rendering engine</th>
    <th>Browser</th>
    <th>Platform(s)</th>
    <th>Engine version</th>
    <th>CSS grade</th>
  </tr>
  </tfoot>